Source: ros-groovy-timestamp-tools
Section: misc
Priority: extra
Maintainer: Chad Rockey <chadrockey@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-roslib,ros-groovy-catkin,ros-groovy-roscpp
Homepage: http://www.ros.org/wiki/timestamp_tools
Standards-Version: 3.9.2

Package: ros-groovy-timestamp-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-roslib,ros-groovy-roscpp
Description: This package is currently for internal use only. Its API may change without warning in the future. This package is deprecated.
