Source: ros-groovy-driver-base
Section: misc
Priority: extra
Maintainer: Chad Rockey <chadrockey@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-self-test,ros-groovy-dynamic-reconfigure,ros-groovy-catkin,ros-groovy-roscpp,ros-groovy-std-msgs,ros-groovy-diagnostic-updater,ros-groovy-message-generation
Homepage: http://www.ros.org/wiki/driver_base
Standards-Version: 3.9.2

Package: ros-groovy-driver-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-self-test,ros-groovy-dynamic-reconfigure,ros-groovy-roscpp,ros-groovy-message-runtime,ros-groovy-std-msgs,ros-groovy-diagnostic-updater
Description: A framework for writing drivers that helps with runtime reconfiguration, diagnostics and self-test. This package is deprecated.
