Source: ros-hydro-driver-base
Section: misc
Priority: extra
Maintainer: Chad Rockey <chadrockey@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-diagnostic-updater, ros-hydro-dynamic-reconfigure, ros-hydro-message-generation, ros-hydro-roscpp, ros-hydro-self-test, ros-hydro-std-msgs
Homepage: http://www.ros.org/wiki/driver_base
Standards-Version: 3.9.2

Package: ros-hydro-driver-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-diagnostic-updater, ros-hydro-dynamic-reconfigure, ros-hydro-message-runtime, ros-hydro-roscpp, ros-hydro-self-test, ros-hydro-std-msgs
Description: A framework for writing drivers that helps with runtime reconfiguration, diagnostics and self-test. This package is deprecated.
